# conda
.env
*.conda
*.condarc


data/
ref/

# Ignore everything in results
results/*

# But allow
!results/19_*/
!results/20_*/
!results/20_phenotype/*.tsv

!results/21_interpretation/
!results/21_interpretation/*.md


# fastq 
*.fastq
*.fastq.gz
*.fq.gz


# QC outputs
*.html
*.zip

# MultiQC
multiqc_data/
multiqc_report.html


# docs
docs/qc

# logs
*.log
logs/


# tools
tools/
snpEff_genes.txt
