# conda
.env
*.conda
*.condarc


data/
ref/

# Ignore everything in results
results/*

# But allow interpretation and phenotype summaries
!results/20_phenotype/
!results/20_phenotype/*.tsv

!results/21_interpretation/
!results/21_interpretation/*.md

!results/19_master/master_scored_top100.tsv


# fastq 
*.fastq
*.fastq.gz
*.fq.gz


# QC outputs
*.html
*.zip

# MultiQC
multiqc_data/
multiqc_report.html


# logs
*.log
logs/


# tools
tools/
snpEff_genes.txt
