# conda
.env
*.conda
*.condarc


data/
ref/
results/**/*.bam
results/**/*.bai
results/**/*.vcf
results/**/*.vcf.gz
results/**/*.tbi
results/

# fastq 
*.fastq
*.fastq.gz
*.fq.gz


# QC outputs
*.html
*.zip

# MultiQC
multiqc_data/
multiqc_report.html


# logs
*.log
logs/


# tools
tools/
snpEff_genes.txt
